* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#poster {
    background-color: #f25509;
    width: 600px;
    height: 800px;
    margin: 60px 30px 30px 30px;
}

.text {
    line-height: 3px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0.8px;
}

#upper-blurb {
    color: rgba(0,0,0,0.5);
    margin-left: 60%;
    padding-top: 50px;
}

#lower-blurb {
    color: #dedfd3;
    margin-left: 10%;
}

#bottom-text {
    font-size: 134px;
    font-weight: 300;
    line-height: 0;
    margin-top: 25%;
    margin-left: -2px;
}

#bau {
    color: white;
    margin-left: -16px;
}

#haus {
    margin-top: -90px;
    color: rgba(0,0,0,0.5);
    margin-left: -16px;
}
